body {
    background-color: rgb(65, 80, 112);
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icone-principal {
    margin: 0 0 0 80px;
}

.icone-principal img {
    width: 390px;
    height: 430px;
}

.nav-redes-sociais {
    display: flex;
    margin: 5px 0 0 162px;
    gap: 10px;
}

.nav-redes-sociais img{
    border-radius: 100%;
    width: 35px;
}