body {
    background-image: url(Arquivos/background.jpg);
    margin: 0;
    min-height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.central {
    display: flex;
    gap: 30px;

    width: 90%;
    max-width: 950px;

    padding: 40px;

    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.450),
        rgba(0, 0, 0, 0.100),
        rgba(0, 0, 0, 0.250));

    border-radius: 50px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-lain img { /*mexe com a imagem da div*/
    width: 380px;
    max-width: 100%;
}

.nav-redes-sociais {
    display: flex;
    gap: 10px;
    margin-top: 7px;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.nav-redes-sociais img{
    border-radius: 100%;
    width: 35px;
}

#tiktok {
    background-color: rgba(0, 0, 0, 0.37);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#discord {
    background-color: rgba(41, 77, 155, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#youtube1 {
    background-color: rgba(155, 41, 41, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#youtube2 {
    background-color: rgba(155, 41, 41, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

#instagram {
    background-color: rgba(196, 48, 105, 0.5);
    padding: 0 10px 0 10px;
    border-radius: 20%;
}

.usuario {
    margin: 10px 50px 10px 60px;
    font-size: 65px;
    color: white;
}

@media (max-width: 768px) {
    .central {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .usuario {
        font-size: 42px;
        margin: 20px 0;
    }

    .nav-redes-sociais {
        margin: 20px 0 0 0;
        justify-content: center;
        flex-wrap: wrap;
    }
}