body {
    background-color: rgb(65, 80, 112);
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icone-principal {
    text-align: center;
}

.icone-principal img {
    border-radius: 30%;
    width: 250px;
}

.nav-redes-sociais {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-redes-sociais img{
    border-radius: 100%;
}